@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neue-bold';
    src: url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.eot');
    src: url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.woff2') format('woff2'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.woff') format('woff'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.ttf')  format('truetype'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Bold1.svg#Neue Haas Unica W1G') format('svg');
  },
  @font-face {
    font-family: 'Neue-regular';
    src: url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.eot');
    src: url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.woff') format('woff'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.ttf')  format('truetype'),
         url('/src/assets/fonts/en/NeueHaasUnicaW1G-Regular.svg#Neue Haas Unica W1G') format('svg');
  }
  @font-face {
    font-family: 'Neue-regular-cyrillic';
    src: url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.eot');
    src: url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.woff') format('woff'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.ttf')  format('truetype'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Regular.svg#Neue Haas Unica W1G') format('svg');
  }
  @font-face {
    font-family: 'Neue-bold-cyrillic';
    src: url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.eot');
    src: url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.eot?#iefix') format('embedded-opentype'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.woff2') format('woff2'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.woff') format('woff'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.ttf')  format('truetype'),
         url('/src/assets/fonts/bg/NeueHaasUnicaW1G-Bold.svg#Neue Haas Unica W1G') format('svg');
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  @apply font-bold md:text-8xl text-5xl text-white md:leading-14 leading-9;
}

h2 {
  @apply font-bold md:text-6xl text-3xl text-white md:leading-15 leading-8;
}

h5 {
  @apply font-bold md:text-2xl text-1xl border-b-3 border-b-black w-44 pb-4 md:leading-7.5 leading-5.2;
}

.container {
  @apply lg:px-0 md:px-4 px-4;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

.enter-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  position: relative;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  border-bottom: solid 2px white;

}

.enter-btn .spacer{
  flex-grow: 1;
  transition: flex-grow 270ms linear;
}

.enter-btn:hover .spacer{
  flex-grow: 0;
  transition: flex-grow 220ms linear;
}

.enter-btn:before {
  content: "";
  position: absolute;
  background: #CF8D3B;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  transition:         all 0.2s ease-in-out;
  -webkit-transition: top 0.24s ease-in-out;
}

.enter-btn:hover:before {
  top: 0;
}

.more-btn {
  @apply flex items-center justify-between border-b-1 pb-1.5;
}

.more-btn span{
  @apply sm:text-xl md:text-xl text-lg font-bold text-left;
}


.hover-scale {
  @apply transform transition duration-500 hover:scale-110;
}

.btn-hover-1 {
  @apply border-b-primary hover:border-b-white text-primary hover:text-white fill-primary hover:fill-white cursor-pointer;
}

.btn-hover-2 {
  @apply border-b-black text-black fill-black hover:border-b-primary hover:text-primary hover:fill-primary cursor-pointer;
}

.btn-hover-3 {
  @apply border-b-black text-black fill-black hover:border-b-white hover:text-white hover:fill-white cursor-pointer;
}

.btn-hover-4 {
  @apply border-b-white text-white fill-white hover:border-b-black hover:text-black hover:fill-black cursor-pointer;
}

.btn-hover-5 {
  @apply border-b-white text-white fill-white hover:border-b-primary hover:text-primary hover:fill-primary cursor-pointer stroke-white hover:stroke-primary;
}

.gallery__wrapper {
  @apply relative overflow-hidden lg:w-68 lg:h-47 md:w-56 md:h-36 w-42 h-29 cursor-pointer
}

.gallery__image {
  @apply absolute w-full h-full transition-all duration-500 ease-in-out transform ;
}

.grid-zoom:hover .gallery__image {
  @apply scale-150;
}

/* Arhives */

.arhives__tab a {
  @apply w-20 h-13.5 flex items-center justify-center overflow-hidden border-1 border-grey-light shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out cursor-pointer;
}

.collapsible {
  @apply border-1 border-grey-light shadow-md bg-white sm:text-xl text-xs sm:leading-5.2 leading-4.5 cursor-pointer;
}

.collapsible__wrapper {
  @apply flex justify-between items-center sm:h-10 h-14 px-5;
}

.collapsible__content {
  @apply hidden flex-col sm:gap-2.5 gap-0.8 justify-between items-start mb-5 sm:mt-5 px-5 text-left;
}

.expanded .collapsible__wrapper {
  @apply  sm:border-y-0 border-y-1 border-y-grey-light sm:mt-0 mt-6;
}

.expanded .collapsible__content {
  @apply  flex;
}

.expanded   {
  @apply  sm:mb-0 mb-18.5;
}

/* Album */